Ans1

In Python, both 'for' and 'while' loops are used for iteration, but they have different use cases
depending on the situation.
A for loop is generally used when you know the number of times you want to execute a block of 
code. for example--

In [1]:
l = [1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

On the other hand, a while loop is generally used when you don't know the number of times 
you want to execute a block of code, but you have a condition that needs to be met to continue
looping.For example--

In [2]:
n = int(input('Enter the number here'))
i = 1
while i <= n:
    print(i)
    i = i + 1

Enter the number here 5

1
2
3
4
5

Ans2

1- Using for loop-
A-Sum

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
s = 0
for i in l:
    s = s + i
print(s)

55

B- Product

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]
p = 1
for i in l:
    p = p*i
print(p)

3628800

2- Using while loop
A- sum

In [5]:
n = int(input('Sum of first 10 natural number'))
s = 0
i = 1
while i <= n:
    s = s + i
    i = i + 1
print(s)

Sum of first 10 natural number 10

55

B- Product

In [6]:
n = int(input('Product of 10 natural number'))
p = 1
i = 1
while i <= n:
    p = p*i
    i = i+1
print(p)

Product of 10 natural number 10

3628800

Ans3

In [7]:
# Constants
BASE_PRICE = 0  # Base price in Rs.
PRICE_TIER_1 = 4.5  # Price per unit for first 100 units in Rs.
PRICE_TIER_2 = 6  # Price per unit for next 100 units in Rs.
PRICE_TIER_3 = 10  # Price per unit for next 100 units in Rs.
PRICE_TIER_4 = 20  # Price per unit for units above 300 in Rs.

# Input the number of units consumed
units_consumed = int(input("Enter the number of units consumed: "))

# Compute the bill amount
if units_consumed <= 100:
    bill_amount = units_consumed * PRICE_TIER_1
elif units_consumed <= 200:
    bill_amount = (100 * PRICE_TIER_1) + ((units_consumed - 100) * PRICE_TIER_2)
elif units_consumed <= 300:
    bill_amount = (100 * PRICE_TIER_1) + (100 * PRICE_TIER_2) + ((units_consumed - 200) * PRICE_TIER_3)
else:
    bill_amount = (100 * PRICE_TIER_1) + (100 * PRICE_TIER_2) + (100 * PRICE_TIER_3) + ((units_consumed - 300) * PRICE_TIER_4)

# Add the base price
bill_amount = bill_amount + BASE_PRICE

# Print the bill amount
print("The electricity bill for this household is Rs.", bill_amount)

Enter the number of units consumed:  310

The electricity bill for this household is Rs. 2250.0

Ans4

In [8]:
## Using For Loop

In [9]:
 range(1,101)

range(1, 101)

In [10]:
cubes = []
for i in range(1,101):
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(i)
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [1]:
## Now using While loop

In [7]:
cubes = []
i = 1
while i <= 100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(i)
    i = i + 1
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Ans5

In [11]:
string = "I want to become a data scientist"

In [12]:
s = string.lower()

In [13]:
s

'i want to become a data scientist'

In [15]:
v = ['a','e','i','o','u']

In [17]:
count = 0
for i in s:
    if i in v:
        count = count + 1
print(count)

12