In [1]:
Ans1

NameError: name 'Ans1' is not defined

In [2]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1},
         {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [3]:
## First we have created a function that will take out all the numeric input
# from the given list.

In [4]:
def test(a):
    l = []
    for i in a:
        if type(i) == list or type(i) == tuple or type(i) == set:
            for j in i:
                if type(j) == int or type(j) == float:
                    l.append(j)
        elif type(i) == dict:
            for key, value in i.items():
                if type(key) == int or type(key) == float:
                    l.append(key)
                if type(value) == int or type(value) == float:
                    l.append(value)
                elif type(value) == list or type(value) == tuple:
                    for v in value:
                        if type(v) == int or type(v) == float:
                            l.append(v)
        elif type(i) == int or type(i) == float:
            l.append(i)
    return l

In [5]:
l1 = test(list1)

In [6]:
# WE have assign l1 containing all the numeric data of list1

In [7]:
l1

[1,
 2,
 3,
 4,
 44,
 55,
 66,
 34,
 56,
 78,
 89,
 34,
 1,
 2,
 3,
 1,
 34,
 55,
 67,
 78,
 89,
 4,
 45,
 22,
 61,
 34,
 56]

In [8]:
# We have called the rduce function

In [9]:
from functools import reduce

In [10]:
#Now under the reduce function we created a lambda function that will take input
# 'x' and 'y' and returns the output x*y

In [11]:
reduce(lambda x,y : x*y,l1)

4134711838987085478833841242112000

In [12]:
# WE have obtained the desired outpu

Ans2

In [14]:
message = "I want to become a Data Scientist."
encrypted_message = ""

for letter in message.lower():
    if letter == "a":
        encrypted_message += "z"
    elif letter == "b":
        encrypted_message += "y"
    elif letter == "c":
        encrypted_message += "x"
    elif letter == " ":
        encrypted_message += "$"
    else:
        encrypted_message += letter

print(encrypted_message.lower())

i$wznt$to$yexome$z$dztz$sxientist.

In [15]:
I = "I want to become a Data Scientist."

In [16]:
r = I.lower()

In [18]:
r

'i want to become a data scientist.'

In [21]:
encrypted_message = ""
for i in r: 
    if i == "a":
        encrypted_message = encrypted_message + "z"
    elif i == "b":
        encrypted_message = encrypted_message + "y"
    elif i == "c":
         encrypted_message = encrypted_message + "x"
    elif i == " ":
        encrypted_message = encrypted_message + "$"
    else:
        encrypted_message = encrypted_message + i
print(encrypted_message.lower())

i$wznt$to$yexome$z$dztz$sxientist.